<!DOCTYPE html>
<html>
<head>
	<meta content="UTF=8">
	<title>課題だよー</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<h1>ようこそ　Bookers へ！</h1>

<p>Bookersでは、さまざまな書籍に関するあなたの意見や</p>
<p>印象を共有し交換することができきます</p>
<%= link_to "strt",books_path %>
</body>
</html>